body{
    background-color: gray;
}



.search-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  
  .search-container input[type="text"] {
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
  }
  
  .search-container button.cancel-btn {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
  }
  
  .search-container button.cancel-btn:hover {
    background-color: #555;
  }